<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="functionaltest" verbose="1">

 <parameter name="browser" value="chrome"/>
<parameter name="platform" value="windows"/>
  <test name="sampletest">
    <classes>
      <class name="TestNG.TestNGLaunchBrowser"/>
 
    </classes>
  </test>
</suite>
